global
    maxconn 100

defaults
    mode tcp
    timeout connect 10s
    timeout client  60s
    timeout server  60s

frontend oracle_frontend
    bind *:1523
    default_backend oracle_backends

backend oracle_backends
    option tcp-check
    # Primary: activo por defecto
    server primary acme-school-db:1521 check inter 5s fall 3 rise 2
    # Standby: solo si el primary cae
    server standby acme-school-standby:1521 check inter 5s fall 3 rise 2 backup
